body{
	background-color: #000000;
}


p{
		font-size: 25px;
}

h1{
	font-size: 25px;
	color: white;
}

#base{
	height: 90%;
	width: 90%;
	border: 1px solid #000;
    border-radius: 1em;
    background:#670A0A;
	text-align:center;
}


table{
	margin: auto;
	text-align:center;
	table-layout: fixed;
	border-collapse: collapse;
	border: 5px solid #670A0A;
	height: 90%;
	width: 90%;
}


#keys {
    height: 100%;
    display: flex;
    flex: 8;
    justify-content: center;
	margin: auto;

}


.note {
    flex: 1;
    display: inline-flex;
	text-align:center;
    align-items: center;
}


.black {
	border: 1px solid #FFF;
	border-radius: 2em;
    flex-flow: column;
    justify-content: flex-end;
    color: white;
    background-color: #474747;
	text-align:center;
}


.white {
	border: 1px solid #000;
	border-radius: 2em;
    flex-flow: column;
    justify-content: flex-end;
    color: #474747;
    background-color: #fffff0;
	text-align:center;
}


.half {
    border-radius: 2em;	
    flex-flow: column;
    justify-content: flex-end;
    color: white;
    background-color: #670A0A;
    padding-bottom: 1%;
    margin: 0 -2%; 
	position: relative;
	z-index:-1;
}
